.env.local
petstore.yaml
node_modules
.idea
.idea/
node_modules/
lib/
.sass-cache/
npm-debug.log
coverage/
yarn-error.log
.DS_STORE
cjs/
esm/
.cache
/addons
.nyc_output
cypress/videos/*
cypress/screenshots/*